@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* NavBar */
.container-nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  background: #fff;
  position: relative;
  justify-content: space-between; 
  text-align: center;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 2%;
}

nav .icon {
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
}

nav .icon a{
  text-decoration: none;
  color: #000;
}

nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ol li {
  margin: 0 2px;
}

nav ol li a {
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
  cursor: pointer;
}

nav ol li a:hover {
  border-radius: 8px;
  background: #FF7158;
  color: #fff;
  padding-bottom: 10px;
  transition: 0.5s;
}

nav ol.vertical-screen {
  display: none;
  list-style: none;
  margin: auto 0;
}

nav .search-box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}

nav .search-box input {
  border: none;
  outline: none;
  background: #EFEFEF;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
  width: 350px;
}

nav .search-box span {
  color: black;
  font-size: 20px;
  background: #EFEFEF;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

nav .search-box span:hover {
  color: #fff;
}

nav .search-box span::after {
  height: 100%;
  width: 0%;
  content: '';
  background: #FF7158;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}

nav .search-box span:hover::after {
  width: 100%;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}

nav .bar span {
  position: absolute;
  color: #fff;
  font-size: 35px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  /* ini untuk tampilan handphone */
  .home-title {
    text-align: center;
  }

  nav {
    display: flex;
    width: 100%;
    background: #fff;
    position: relative;
    justify-content: space-between; 
    text-align: left;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 2%;
  }

  nav .search-box {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search-box input {
    width: 20px;
    background: #fff;
  }

  nav .icon {
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
  }
  
  nav .icon a{
    text-decoration: none;
    color: #000;
  }
}


@media screen and (max-width: 1250px) {
  nav {
    background: #C4C4C4;
    display: block;
    padding: 0;
  }
  nav .icon {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search-box input {
    width: 90%;
    background: #fff;
  }
  nav ol {
    display: none;
    flex-direction: column;
    background: #EFEFEF;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav ol.vertical-screen {
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav ol.vertical-screen li {
    text-align: center;
    transition: 0.3s 0.1s all;
    opacity: 0;
  }
  nav ol.vertical-screen li a {
    font-size: 20px;
    padding: 25px;
    display: block;
  }
  nav ol.vertical-screen li:nth-child(1) {
    transform: translateX(-150px);
  }
  nav ol.vertical-screen li:nth-child(2) {
    transform: translateX(-200px);
  }
  nav ol.vertical-screen li:nth-child(3) {
    transform: translateX(-250px);
  }
  nav ol.vertical-screen li:nth-child(4) {
    transform: translateX(-300px);
  }
  nav ol.vertical-screen li:nth-child(5) {
    transform: translateX(-350px);
  }
  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 60px;
    bottom: 105px;
    cursor: pointer;
  }
  nav .bar #times {
    display: none;
  }
  #check:checked ~ nav .bar #times {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
  #check:checked ~ nav ol {
    visibility: visible;
    height: 465px;
  }
  #check:checked ~ nav ol li:nth-child(1),
  #check:checked ~ nav ol li:nth-child(2),
  #check:checked ~ nav ol li:nth-child(3),
  #check:checked ~ nav ol li:nth-child(4),
  #check:checked ~ nav ol li:nth-child(5) {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Card */
.imgCarousel {
  height: 35.25rem;
  width: 120rem;
}

.cardStyle {
  width: 12rem;
  margin: 0rem;
  margin-bottom: 2rem;
}

.cardImgStyle {
  width: 18rem;
  margin: 0rem;
  margin-bottom: 2rem;
}

.thumbnail-text {
  text-align: left;
}

.price-text {
  text-align: left;
  color: orange;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  /* ini untuk tampilan handphone */
  .imgCarousel {
    height: 10rem;
    width: 120rem;
  }

  .cardStyle {
    width: 7rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  .cardImgStyle {
    width: 7rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  .thumbnail-text {
    text-align: left;
    font-size: 80%;
  }
  
  .price-text {
    text-align: left;
    color: orange;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
  /* ini untuk tampilan tablet */
  .imgCarousel {
    height: 10rem;
    width: 120rem;
  }
  
  .cardStyle {
    width: 8rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
  .imgCarousel {
    height: 20rem;
    width: 120rem;
  }

  .cardStyle {
    width: 12rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }
}

/* Large devices (Laptops/desktop, 992px and up) */
@media only screen and (min-width: 992px){
  /* ini untuk tampilan laptop */
  .imgCarousel {
    height: 32.25rem;
    width: 120rem;
  }
  .cardStyle {
    width: 12rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }
}

/* Extra Large devices (Large laptops and destops, 120px and up) */
@media only screen and (min-width: 1200px){}


/* SideBar */

/* Landing Page */
.buttonCategories {
  background: transparent;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
}

/* Login and Register */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  /* ini untuk tampilan handphone */
  h3.login-title{
    font-size: 15px;
  }

  .login-btn{
    display: flex;
  }

  .login-btn .btn{
    font-size: 10px;
    padding: 7%;
  }

  form.login-form .form-label{
    font-size: 10px;
  }
}